td.vtop {
    vertical-align: top;
}

div.paper {
    position: relative;
/*    border: 1px solid #888; */
}

div.paper_select {
    width: 100%;
    display: block;
}

div.boxlabel {
    position: absolute;
    border: none;
    font-size: 15px;
    color: #FFF;
    background-color: #FF0000;
    padding: 2px;
}

div.box {
    position: absolute;
    border: solid 3px #f00;
    opacity: 0.8;
    display: none;
}

div.box_on_other_page {
    position: absolute;
    border: solid 3px #00f;
    display: none;
}

div.wordbox {
    position: absolute;
    border: solid 3px #0c0;
    opacity: 0.8;
    display: none;
}

div.note {
    width: 800px;
    height: 1180px;
    overflow: scroll;
}

div.boxtext {
    font-family: times;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
}

div.boxtype {
    color: white;
    background-color: #888;
    padding: 3px;
}

div.boxtext p {
    margin: 8px 0px;
    padding: 0px 3px;
}

div.boxtext p.nobox {
    margin: 8px 0px;
    padding: 0px 3px;
    color: #F00;
}

div.boxtext p.paragraph {
    margin: 0px 0px;
    padding: 0px 3px;
    border: dotted 1px #888;
}
