html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
.fullheight {
    height: 100%;
    background: #fff;
}

table#content {
    border-collapse: collapse;
    border-spacing: 0px;
}

td.vtop {
    vertical-align: top;
}

div.menu {
    width: 100%;
    padding: 0;
    margin-bottom: 0px;
}
select#paper_select, input#paper_select_input, button#paper_select_input_button {
    vertical-align: center;
    margin-left: 3px;
}


iframe#iframe_xhtml {
    border: solid 1px #cccccc;
    overflow: scroll;
    width: 50px;
    height: 50px;
}

div#paper {
    overflow: scroll;
    height: 50px;
    position: relative;
/*    border: 1px solid #888; */
}

div.boxlabel {
    position: absolute;
    border: none;
    font-size: 12px;
    color: #FFF;
    background-color: #FF0000;
    padding: 2px;
}

div.box {
    position: absolute;
    border: solid 2px #FF0000;
    opacity: 0.8;
    display: none;
}

div.box_on_other_page {
    position: absolute;
    border: solid 3px #00f;
    display: none;
}

div.wordbox {
    position: absolute;
    border: solid 3px #0c0;
    opacity: 0.8;
    display: none;
}

div.note {
    width: 800px;
    height: 1180px;
    overflow: scroll;
}

div.boxtext {
    font-family: times;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
}

div.boxtype {
    color: white;
    background-color: #888;
    padding: 3px;
}

div.boxtext p {
    margin: 8px 0px;
    padding: 0px 3px;
}

div.boxtext p.nobox {
    margin: 8px 0px;
    padding: 0px 3px;
    color: #F00;
}

div.boxtext p.paragraph {
    margin: 0px 0px;
    padding: 0px 3px;
    border: dotted 1px #888;
}
