* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
.fullheight {
    height: 100%;
    background: #fff;
}
#container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

table#content {
    border-collapse: collapse;
    border-spacing: 0px;
}

.vtop {
    vertical-align: top;
    border: 0;
    padding: 0;
    margin: 0;
}

div.menu {
    width: 100%;
    padding: 0;
    margin-bottom: 0px;
}
select#paper_select, input#paper_select_input, button#paper_select_input_button {
    vertical-align: center;
    margin-left: 3px;
}

iframe#iframe_xhtml, div#paper_line {
    border: solid 1px #444444;
    overflow: scroll;
}

tr.line td {
    vertical-align: top;
    border-top: 1px solid #CCCCCC;
    border-right: 1px dotted #CCCCCC;
    padding: 1px;
}

tr.err td {
    border-bottom: 2px solid #FF0000;
}

tr.selected {
    background: #FFCCCC;
}

td.edited {
    background: #FFFFCC;
}

div#paper {
    overflow: scroll;
    position: relative;
    border: 1px solid #444444;
}

div#page_number {
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: serif;
    font-weight: bold;
    z-index: 99;
}

img#paper_image {
    top: 0;
    left: 0;
}

div.boxlabel {
    position: absolute;
    border: none;
    font-size: 12px;
    color: #FFF;
    background-color: #FF0000;
    padding: 2px;
}

div.box {
    position: absolute;
    border: solid 2px #FF0000;
    opacity: 0.8;
    display: none;
}

div.box_on_other_page {
    position: absolute;
    border: solid 3px #00f;
    display: none;
}

div.wordbox {
    position: absolute;
    border: solid 3px #0c0;
    opacity: 0.8;
    display: none;
}

div.note {
    width: 800px;
    height: 1180px;
    overflow: scroll;
}

div.boxtext {
    font-family: times;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
}

div.boxtype {
    color: white;
    background-color: #888;
    padding: 3px;
}

div.boxtext p {
    margin: 8px 0px;
    padding: 0px 3px;
}

div.boxtext p.nobox {
    margin: 8px 0px;
    padding: 0px 3px;
    color: #F00;
}

div.boxtext p.paragraph {
    margin: 0px 0px;
    padding: 0px 3px;
    border: dotted 1px #888;
}
