# '#' is comment
# Blank lines are ignored

# Path to the base directory where "pdfanalyzer" system are placed
basedir  /home/pdfnlt/pdfanalyzer/

# "pdfanalyzer.php", "pdf/", "train/" and "xhtml/" are supposed
# to be placed under the basedir

# Option string which will be passed to the 'pdfanalyzer.php'
# when xhtml files will be generated
options		--with-image --with-wordtag
